<div stye="text-align: center">
<h2>Add Listing</h2>

<form {{action "submit" on="submit"}}>

  <label for="pickupTime">Pickup Time</label>
  {{bs-datetimepicker date=mydate updateDate=(action (mut listing.pickupTime))}}

  <label for="description">Description</label>
  {{input value=listing.description placeholder="enter description" class="form-control"}}
  <br>
  <button type="submit" class="btn btn-default">Submit</button>
  <button class="btn btn-default" {{action "return" on="click"}}>Cancel</button>
</form>

{{error-display errorMessage=errorMessage}}

</div>
{{yield}}
