{{#each model as |listing|}}
  <div>
    <h2>{{listing.donor.name}}</h2>
    <ul>
  <li>Pickup Time: {{listing.pickupTime}}</li>
  <li>Information: {{listing.description}}</li>
    </ul>
  </div>
  {{/each}}


{{outlet}}

{{!-- ListFilter Component --}}
{{#list-filter
   filter=(action 'filterByCity')
   as |rentals|}}
  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li>{{rental-listing rental=rentalUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}